.img {
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}

.card {
  position: relative;
  text-align: center;
}

.btn {
  color: var(--ion-color-light);
}

.cardAzul {
  @extend .card;
  background: var(--ion-color-secondary);
  color: var(--ion-color-light);
}

.baseText {
  position: absolute;
  color: var(--ion-color-light);
  width: 100%;
  margin: auto;
  text-align: center;
}

.cardTitle {
  @extend .baseText;
  top: 36%;
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardSubtitle {
  @extend .baseText;
  font-size: 1.2em;
  top: 52%;
}
